@import url('https://fonts.googleapis.com/css?family=Oswald:700');
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,900i');

.App {
  margin-top: -4rem;
  position:relative;
  display:flex;
  align-items: center;
  justify-content:end;
  flex-direction:column;
  font-size: calc(1.5vw);
 }

 .main-container{
  border: .09px solid rgba(0, 162, 255, 0.329);
  background-color: #4ea7fa;
  position:relative;
 display:flex;
 align-items: center;
 justify-content:end;
 flex-direction:column;
 box-shadow: 10px 10px 10px 10px rgba( 0, 0, 0, .8);
}
